<!DOCTYPE html>
<html>
<head>
    <title>Hospital Appointment Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Hospital Appointment Management System</h1>

    <div class="dashboard">

        <a href="/register-patient">
            Register Patient
        </a>

        <a href="/add-doctor">
            Add Doctor
        </a>

        <a href="/doctors">
            View Doctors
        </a>

        <a href="/search-doctor">
            Search Doctor
        </a>

        <a href="/book-appointment">
            Book Appointment
        </a>

        <a href="/appointments">
            Manage Appointments
        </a>

        <a href="/appointment-history">
            Appointment History
        </a>

    </div>

</body>
</html>